$primary-color: #ebebeb;
$secondary-color: #0152a0;

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    min-height: 100%;
    min-width: 100%;
    scroll-behavior: smooth;
}

.article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1em;

    .h2 {
        width: 100%
    }

    &__p {
        font-size: 1.2em;
        margin: 0.5em 0;
        text-indent: 2em;
    }

    &__text-cont {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: 1em;
        flex: 1.5 .8 600px;
    }

    &__image {
        max-width: 100%
    }

    &__image-cont {
        display: flex;
        flex: .5 .8 600px;
        justify-content: center;
        margin: 1em;
    }

    &::before {
        display: block;
        content: "";
        margin-top: -5em;
        height: 5em;
        visibility: hidden;
    }

    &:nth-child(even) {
        background-color: $secondary-color;
        color: $primary-color;
        flex-direction: row-reverse;
    }
}

.backdrop-blur {
    background-color: rgba(235, 235, 235, 0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6em);
}

.bold {
    font-weight: bold;

}

.h1 {
    font-size: 3em;
}

.h2 {
    font-size: 2em;
    font-weight: 600;
    padding: 0.5em 0;
}

.h3 {
    font-size: 2em;
    padding: 0.3em;
}

.h4 {
    font-size: 1, 5em;
    padding: 0.2em;
}

.filter-blue {
    filter: invert(24%) sepia(80%) saturate(1530%) hue-rotate(189deg) brightness(87%) contrast(107%);
}

.filter-gray {
    filter: invert(73%) sepia(97%) saturate(0%) hue-rotate(226deg) brightness(103%) contrast(102%);
}

.list {
    &__item {
        list-style-type: disc;
        margin-top: 0.3em;
        margin-left: 2em;
    }
}

.page {
    background-color: $primary-color;
    color: $secondary-color;
    min-height: 100%;
    min-width: 100%;

    &__content {
        display: flex;
        flex-flow: nowrap column;
        margin: 0;
        padding: 0;
    }
}


@media (max-width: 780px) {
    html {
        font-size: 12px;
    }

    .article {
        &__text-cont {
            width: 100%
        }

        &__image-cont {
            width: 100%
        }
    }
}
