.nav {
  background-color: rgba(235, 235, 235, 0.4);
  flex-flow: row;
  justify-content: center;
  backdrop-filter: blur(6px);
  color: inherit;
  display: flex;
  position: fixed;
  top: 0;
  text-transform: uppercase;
  width: 100%;
  z-index: 10;
}

.btn {
  display: none;
}

.btn__btn {
  padding: 2em;
}

.nav-menu {
  display: flex;
  flex-flow: nowrap row;
  flex-basis: 780px;
  justify-content: space-between;
}

.nav-menu__item {
  display: flex;
  align-self: center;
}

.nav-menu__link {
  padding: 2em 1em;
  margin: 0 1em;
  text-align: center;
}

.svg-icon {
  display: inline-block;
  height: 1.2em;
  margin: auto 0.5em;
}

@media (max-width: 780px) {
  .nav {
    flex-direction: column;
  }
  .nav-btn__btn {
    padding: .1em;
  }
  .nav-menu {
    justify-content: center;
    align-content: center;
    flex-flow: column nowrap;
    flex-basis: auto;
    display: none;
  }
  .nav-menu__link {
    display: block;
    padding: 1em;
  }
  .btn {
    display: flex;
  }
}

.displayed {
  display: flex;
}
