/*** The new CSS Reset - version 1.4.5 (last updated 13.1.2022) ***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  min-height: 100%;
  min-width: 100%;
  scroll-behavior: smooth;
}

.article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1em;
}

.article .h2 {
  width: 100%;
}

.article__p {
  font-size: 1.2em;
  margin: 0.5em 0;
  text-indent: 2em;
}

.article__text-cont {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 1em;
  flex: 1.5 .8 600px;
}

.article__image {
  max-width: 100%;
}

.article__image-cont {
  display: flex;
  flex: .5 .8 600px;
  justify-content: center;
  margin: 1em;
}

.article::before {
  display: block;
  content: "";
  margin-top: -5em;
  height: 5em;
  visibility: hidden;
}

.article:nth-child(even) {
  background-color: #0152a0;
  color: #ebebeb;
  flex-direction: row-reverse;
}

.backdrop-blur {
  background-color: rgba(235, 235, 235, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6em);
}

.bold {
  font-weight: bold;
}

.h1 {
  font-size: 3em;
}

.h2 {
  font-size: 2em;
  font-weight: 600;
  padding: 0.5em 0;
}

.h3 {
  font-size: 2em;
  padding: 0.3em;
}

.h4 {
  font-size: 1, 5em;
  padding: 0.2em;
}

.filter-blue {
  filter: invert(24%) sepia(80%) saturate(1530%) hue-rotate(189deg) brightness(87%) contrast(107%);
}

.filter-gray {
  filter: invert(73%) sepia(97%) saturate(0%) hue-rotate(226deg) brightness(103%) contrast(102%);
}

.list__item {
  list-style-type: disc;
  margin-top: 0.3em;
  margin-left: 2em;
}

.page {
  background-color: #ebebeb;
  color: #0152a0;
  min-height: 100%;
  min-width: 100%;
}

.page__content {
  display: flex;
  flex-flow: nowrap column;
  margin: 0;
  padding: 0;
}

@media (max-width: 780px) {
  html {
    font-size: 12px;
  }
  .article__text-cont {
    width: 100%;
  }
  .article__image-cont {
    width: 100%;
  }
}

.nav {
  background-color: rgba(235, 235, 235, 0.4);
  flex-flow: row;
  justify-content: center;
  backdrop-filter: blur(6px);
  color: inherit;
  display: flex;
  position: fixed;
  top: 0;
  text-transform: uppercase;
  width: 100%;
  z-index: 10;
}

.btn {
  display: none;
}

.btn__btn {
  padding: 2em;
}

.nav-menu {
  display: flex;
  flex-flow: nowrap row;
  flex-basis: 780px;
  justify-content: space-between;
}

.nav-menu__item {
  display: flex;
  align-self: center;
}

.nav-menu__link {
  padding: 2em 1em;
  margin: 0 1em;
  text-align: center;
}

.svg-icon {
  display: inline-block;
  height: 1.2em;
  margin: auto 0.5em;
}

@media (max-width: 780px) {
  .nav {
    flex-direction: column;
  }
  .nav-btn__btn {
    padding: .1em;
  }
  .nav-menu {
    justify-content: center;
    align-content: center;
    flex-flow: column nowrap;
    flex-basis: auto;
    display: none;
  }
  .nav-menu__link {
    display: block;
    padding: 1em;
  }
  .btn {
    display: flex;
  }
}

.displayed {
  display: flex;
}

.header {
  background-image: url("../images/hero.jpg");
  background-position: bottom center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.header__img {
  margin: auto;
  top: 0;
  left: auto;
  display: none;
  z-index: -999;
}

.header .h1 {
  display: inline-block;
  padding: 0.5em 1.5em;
  backdrop-filter: blur(6px);
  margin: 1em 0;
  background-color: rgba(235, 235, 235, 0.4);
  width: 100%;
}

.gallery__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.gallery__image-cont {
  display: flex;
  flex-basis: 350px;
  padding: 1em;
}

.footer {
  background-color: #0152a0;
  color: #ebebeb;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-width: 100%;
}

.footer__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 2em;
}

.footer__content-element {
  display: flex;
  flex-direction: column;
}

.footer__content-element span {
  font-size: 1.2em;
  display: inline-block;
  align-content: center;
  padding: 0.2em;
  margin: 0.2em 0;
  margin-right: 1em;
  box-sizing: content-box;
}

.footer__content-element span a {
  box-sizing: content-box;
}

.footer__content-element span a:hover {
  border-bottom: 1px solid whitesmoke;
}

.footer__map {
  width: 400;
  height: 300;
}

.footer__copyrights {
  text-align: center;
  background-color: #ebebeb;
  color: #0152a0;
}

@media (max-width: 780px) {
  .footer__map {
    display: none;
  }
}
