.header {
  background-image: url("../images/hero.jpg");
  background-position: bottom center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.header__img {
  margin: auto;
  top: 0;
  left: auto;
  display: none;
  z-index: -999;
}

.header .h1 {
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.5em;
  backdrop-filter: blur(6px);
  margin: 1em;
  background-color: rgba(235, 235, 235, 0.4);
  backdrop-filter: blur(6px);
}
